* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  z-index: 1;
}

header {
  height: 109px;
  width: 100%;
  background-color: rgb(24, 121, 218);
  padding: 28px 30px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

header h1 {
  font-size: 40px;
}

#menu-toggle {
    display: none;
}

.menu ul{
    list-style: none;
}

header nav a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

header nav a:hover {
  color: blueviolet;
  transition: 2s;
}

main{
    background-color: rgb(105, 225, 255);
}

.aboutME {
  flex-direction: row;
  height: 318px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(105, 225, 255);
}

.aboutME img {
  width: 247px;
  height: 247px;
  border-radius: 50%;
}

.aboutMe__descricao{
    width: 500px;
    gap: 10px;
    h4{
        font-size: 20px;
    }
    p{
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    }
}

.aboutMe__descricao h4 {
    font-family: Inter;
}

.top{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

.hobbies {
    display:flex;
    flex-direction: column;
    align-items: flex-end;
}

.hobbies h4 {
    font-family: Inter;
}

.jogos {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
}

.jogos h4 {
    font-family: Inter;
}

.top__Hobbies {
    display:flex;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.top__Jogos {
    display:flex;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.card{
    width: 102px;
    height: 150px;
    border-radius: 5px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
    color:white;
    font-size: 16px;
    font-weight: bold;
}

.card:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

#hobbies1 {
    background-image: url(img/praia.webp);
}
#hobbies2 {
    background-image: url(img/videogame.webp);
}

#hobbies3 {
    background-image: url(img/basquete.webp);
}

#hobbies4 {
    background-image: url(img/greek.webp);
}

#hobbies5 {
    background-image: url(img/conversa.webp);
}

#jogos1 {
    background-image: url(img/reddead.webp);
}

#jogos2 {
    background-image: url(img/lastofus.webp);
}

#jogos3 {
    background-image: url(img/mario.webp);
}

#jogos4 {
    background-image: url(img/hollow.webp);
}

#jogos5 {
    background-image: url(img/hades.webp);
}

.feedback {
    display:flex;
    background-color: rgb(105, 225, 255);
    flex-direction: column;
    align-items: center;
    height: 150px;
}

.feedback h2 {
    font-family: Inter;
}

.feedback__box{
    width: 80%;
}

.feedback__Form {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10%;
    margin-top: 1%;
}

.feedback__Form input {
    width: 80%;
    padding: 5px;
    margin-bottom: 2px;
    border: 3px solid purple;
    background-color: rgb(170, 169, 169);
}

.feedback__Form button {
    display: flex;
    margin-top: 1.5%;
    flex-wrap: wrap;
    margin-left: 80%;
    border: 3px solid purple;
    background-color: rgb(170, 169, 169);
}

footer {
    height: 50px;
    background-color: rgb(24, 121, 218);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 10px 0px 10px;
}

.web{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid white;
    border-radius: 5px;
    background-color: black;
    margin-bottom: 0.5%;
    padding: 1rem;
    color: white;
}

footer a:hover {
    color:blueviolet;
    transition: 2s;
}

@media (max-width:450px){
    .menu-hamburguer {
        display: flex;
        flex-direction: row-reverse;
        top: 40px;
        right: 40px;
        z-index: 4;
    }

    .menu-icon{
        width: 35px;
        height: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        z-index: 5;
        cursor: pointer
        
    }

    .menu {
        position: absolute;
        background: gray;
        top: 8vw;
    }

    .menu ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }

    .menu ul li {
        margin: 30px 0;
    }

    .menu a {
        text-decoration: none;
        font-size: 1.5rem;
        background: gray;
        transform: scale(0);
        transition: 0.5s;
        z-index: -1;
    }

    .linha {
        height: 4px;
        background-color:blueviolet
    }

    .overlay {
        transform: scale(0);
        transition: 0.5s;
        margin-top: 1rem;
    }

    #menu-toggle:checked ~ .overlay {
        transform: scale(1);
    }

    .aboutME {
        flex-direction: column;
        height: 584px;
        width: 100%;
        display: flex;
        align-items: center;
        background-color: rgb(105, 225, 255);
    }

    .aboutME img {
        width: 247px;
        height: 247px;
        border-radius: 50%;
    }

    .aboutMe__descricao{
        width: 90%;
        height: 242.5;
        
        h4{
            font-size: 20px;
        }
        p{
            font-size: 16px;
            line-height: 1.5;
            display: flex;
            flex-direction: column;
        }
    }

    .top{
            height: 890px;
            display: flex;
            flex-direction: row;
            background-color: rgb(105, 225, 255);
            flex-wrap: wrap;
            align-content: center;
    }

    .hobbies {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 40px;
    }

    .hobbies h4 {
        margin-left: 20%
    }

    .top__Hobbies {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .jogos {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    
    .jogos h4 {
        margin-left: 20%
    }

    .top__Jogos {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .feedback__box{
        width: 90%;
    }

    .feedback__Form {
        display: flex;
        flex-direction: column;
        margin-top: 1%;
        align-items: flex-start;
    }

    .feedback__Form button {
        margin-top: 1.5%;
        margin-left: 40%;   
    }

    footer {
        height: 127px; 
        flex-direction: column-reverse;
        align-items: center;
    }
    .web{
        font-size: 15px
    }
}
